/* Navbar */

.navbar {
    background-color: #203b73;
}

.navbar-brand {
    color: #FFFFFF;
    text-shadow: 2px 2px 5px #2EE59D;
}

.navbar-brand:hover {
    color: #2EE59D;
}

.nav-link {
    color: rgb(170, 170, 170);
}

.nav-link-num {
    color: #2EE59D;
}

.nav-link:hover {
    color: #2EE59D;
}

.active a {
    color: #2EE59D;
}

/* btn class used for all buttons */
.btn {
    border: 2px solid #ebbc1d;
    background-color: transparent;
    color: #ebbc1d;
    min-width: 100px;
}

.btn:hover {
    background: rgb(236, 188, 29, 0.2);
}

a:hover {
    color: #ebbc1d;
}

.fa {
    color: rgb(170, 170, 170);
    font-size: 2.5rem;
    margin-left: 1.5rem;
}

.fa:hover {
    color: #ebbc1d;
}

/* Body */

body {
    background-color: #203b73;
    font-family: "Courier New";
}

.body-margin {
    margin-top: 6rem;
}

h1 {
    color: #ebbc1d;
}

p {
    color: #ababab;
}

.sections {
    margin-top: 3.5rem;
}

/* Members Page */

table {
    color: rgb(170, 170, 170);
}

th {
    color: #2EE59D;
}

/* Resources Page */

.card-deck {
    margin-top: 1.35rem;
}

.card {
    background: #12233e;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.card-title {
    color: #2EE59D;
}
