/* Navbar */

.navbar {
    background-color: #203b73;
}

.navbar-brand {
    color: #FFFFFF;
    text-shadow: 2px 2px 3px #f4cc5d;
}

.navbar-brand:hover {
    color: #f4cc5d;
}

.nav-link {
    color: #FFFFFF;
}

.nav-link-num {
    color: #f4cc5d;
}

.nav-link:hover {
    color: #f4cc5d;
}

.active a {
    color: #f4cc5d;
}

.div-center {
  margin: auto;
  width: 100%;
}

/* btn class used for all buttons */
.btn-disabled {
    border: 2px solid #ABABAB;
    background-color: transparent;
    color: #ABABAB;
    min-width: 100px;
    padding: 6px;
    border-radius: 4px;
    text-align: center;
    
}
.btn {
    border: 2px solid #ebbc1d;
    background-color: transparent;
    color: #ebbc1d;
    min-width: 100px;
}

.btn:hover {
    background: rgb(236, 188, 29, 0.2);
}

a:hover {
    color: #ebbc1d;
}

.fa {
    color: rgb(170, 170, 170);
    font-size: 2.5rem;
    margin-left: 1.5rem;
}

.fa:hover {
    color: #ebbc1d;
}

/* Body */

ul li {
    display: inline-block;
    width: 100px;
}

body {
    background-color: #203b73;
    font-family: 'Share Tech Mono', monospace;
}

.body-margin {
    margin-top: 6rem;
}

#logo-div {
    text-align: center;
}

h1 {
    color: #ebbc1d;
}

h3 {
    color: #ebbc1d;
    font-size:22px;
    width: 100%;
    text-align: center;
}

p {
    color: #ABABAB;
}

.sections {
    margin-top: 3.5rem;
}

/* Members Page */

table {
    color: rgb(170, 170, 170);
}

th {
    color: #ABABAB;
}

/* Resources Page */


/*
.card-deck {
    margin-top: 1.35rem;
}

.card {
    background: #112a56;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.card-title {
    color: #FFFFFF;
}
*/


/*body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;   
    font-family: sans-serif;
    background-color: #f1f1f1; 
}*/

.container {
    position: relative;
    justify-content: space-between;
    width: 100%;
}

.container .card {
    background: transparent;
    border: 0px;
    position: relative;
    border-radius: 10px;
    float: left;
    max-width: 300px;
}

.container .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.7s;
    z-index: 1;
}

.container .card:nth-child(1) .icon {
    background: #e07768;
}

.container .card:nth-child(2) .icon {
    background: #6eadd4;
}

.container .card:nth-child(3) .icon {
    background: #4aada9;
}


.container .card .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}

.container .card .face {
    max-width: 300px;
    min-width: 150px;
    height: 100px;
    transition: 0.5s;
}

.container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(50px);
}

.container .card:hover .face.face1{
    background: #ff0057;
    transform: translateY(-50px);
}

.container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content {
    opacity: 1;
}

.container .card .face.face1 .content i{
    max-width: 100px;
}

.container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.container .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    color: #414141;
} 

.container a {
    text-decoration: none;
    color: #414141;
}
