/* Navbar */

.navbar {
    background-color: #203b73;
}

.navbar-brand {
    color: #FFFFFF;
    text-shadow: 2px 2px 3px #f4cc5d;
}

.navbar-brand:hover {
    color: #f4cc5d;
}

.nav-link {
    color: #FFFFFF;
}

.nav-link-num {
    color: #f4cc5d;
}

.nav-link:hover {
    color: #f4cc5d;
}

.active a {
    color: #f4cc5d;
}

.div-center {
  margin: auto;
  width: 100%;
}

/* btn class used for all buttons */
.btn-disabled {
    border: 2px solid #ABABAB;
    background-color: transparent;
    color: #ABABAB;
    min-width: 100px;
    padding: 6px;
    border-radius: 4px;
    text-align: center;
    
}
.btn {
    border: 2px solid #ebbc1d;
    background-color: transparent;
    color: #ebbc1d;
    min-width: 100px;
}

.btn:hover {
    background: rgb(236, 188, 29, 0.2);
}

a:hover {
    color: #ebbc1d;
}

.fa {
    color: rgb(170, 170, 170);
    font-size: 2.5rem;
    margin-left: 1.5rem;
}

.fa:hover {
    color: #ebbc1d;
}

/* Body */

body {
    background-color: #203b73;
    font-family: "Courier New";
}

.body-margin {
    margin-top: 6rem;
}

#logo-div {
    text-align: center;
}

h1 {
    color: #ebbc1d;
}

h3 {
    color: #ebbc1d;
    font-size: 15px;
}

p {
    color: #ABABAB;
}

.sections {
    margin-top: 3.5rem;
}

/* Members Page */

table {
    color: rgb(170, 170, 170);
}

th {
    color: #ABABAB;
}

/* Resources Page */

.card-deck {
    margin-top: 1.35rem;
}

.card {
    background: #112a56;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.card-title {
    color: #FFFFFF;
}
